/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: azure;
  color: darkslategray; 
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif; 
  color: darkred;
}

button {
  padding: 8px;
  border-radius: 5px;
}

#gameButtonArea > button {
  width:300px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: skyblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: #FFFFA0;
}

#button1:active, #button1.lit {
    background:green;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3:active, #button3.lit {
    background:red;
}

#button4:active, #button4.lit {
    background:yellow;
}
